html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.field-validation-error {
  color: red;
}
.close-alert{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -8px;
  top: -15px;
  border-radius: 15px;
  width: 22px;
  height: 22px;
}